# for display manager

if [[ -d /etc/X11/xinit/xinitrc.d ]] ; then
    for f in /etc/X11/xinit/xinitrc.d/?*; do
        [ -x "$f" ] && . "$f"
    done
    unset f
fi

# 日本語入力
export GTK_IM_MODULE='fcitx'
export QT_IM_MODULE='fcitx'
export XMODIFIERS='@im=fcitx'
export DefalutIMModule='fcitx'
which fcitx-autostart &> /dev/null && fcitx-autostart &

# 壁紙を設定
which feh &> /dev/null \
 && img="${HOME}/contents/pictures/wallpaper/arch/Ju5PuBC.jpg" \
 && [[ -f ${img} ]] \
 && feh --no-fehbg --bg-scale ${img}

# 画面の輝度を30%に設定
which xbacklight &> /dev/null \
  && xbacklight -set 20

# 音量を5%に設定 muteに設定
which pactl &> /dev/null \
  && sinks='pactl list sinks short | cut -f1' \
  && eval ${sinks} | xargs -I{} pactl set-sink-volume {} 5% \
  && eval ${sinks} | xargs -I{} pactl set-sink-mute {} 1

# delay:(default 660) キーリピートを始めるまで時間
# rate:(default 25) 繰り返される頻度
which xset &> /dev/null \
  && xset r rate 350 50

# which light-locker &> /dev/null && light-locker &
