# for display manager

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
    for f in /etc/X11/xinit/xinitrc.d/?* ; do
        [ -x "$f" ] && . "$f"
    done
    unset f
fi

# 日本語入力
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefalutIMModule=fcitx
type fcitx-autostart > /dev/null 2>&1 && fcitx-autostart &

# 壁紙を設定
[[ -s "${HOME}/Content/pictures/wallpaper/4b5e72.png" ]] \
  && feh --no-fehbg --bg-scale "${HOME}/Content/pictures/wallpaper/4b5e72.png"

# 画面の輝度を30%に設定
type xbacklight > /dev/null 2>&1 && xbacklight -set 30

# 音量を5%に設定 muteに設定
type pactl > /dev/null 2>&1 && pactl set-sink-volume 0 5% && pactl set-sink-mute 0 1
